<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auth system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 100px;
    }
    h2 {
      text-align: center;
      margin-bottom: 50px;
    }
    .btn-primary, .btn-dark {
      width: 100%;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h2>Home page</h2>
        <a href="/login" class="btn btn-dark">Login</a>
      </div>
    </div>
  </div>
</body>
</html>
